# Week 1 handin

## 01 Assignment
# Create 5 list comprehensions to solve the following 5 problems

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## Iterate a list of names to return a list of the names starting with H

In [1]:
my_name = list(["Seb", "Habob", "Habib", "Hanzo"])

my_h = [name for name in my_name
       if name[0] == "H"]

my_h

['Habob', 'Habib', 'Hanzo']

## In one line create a list of the numbers 1-100 to the power of 3

In [2]:
my_pow3 = [num ** 3 for num in list(range(101))]

my_pow3

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

# Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [3]:
name_list = list(["Seb", "Luke", "Chris", "Phil", "Sum"])

tuples_list = [(name, len(name)) for name in name_list]
tuples_list

[('Seb', 3), ('Luke', 4), ('Chris', 5), ('Phil', 4), ('Sum', 3)]

# Iterate over each character in a string and get only those that are nummeric

In [4]:
my_str = "Hab1b1"

for element in range(0, len(my_str)):
    if my_str[element].isnumeric():
        print(my_str[element])

1
1

# Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [5]:
roll_combinations = {(d1, d2) for d1 in range(1,7)
                    for d2 in range(1,7)}
roll_combinations

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

# Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [6]:
name_list = list(["Seb", "Chris", "Luke", "Phil", "Sum"])

name_list

['Seb', 'Chris', 'Luke', 'Phil', 'Sum']

In [7]:
name_dict = {}

for name in name_list:
    name_dict.update({name: len(name)})
    
name_dict

{'Seb': 3, 'Chris': 5, 'Luke': 4, 'Phil': 4, 'Sum': 3}

# Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [8]:
import math
my_nums = list([1,2,3,4,5,6,7,8,9,10])

nums_dict = {}

for num in my_nums:
    nums_dict.update({num: math.sqrt(num)})

nums_dict

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795}